body {
  font-family: Helvetica;
}

// #root {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

#root > div {
  display: flex;
  height: 100vh;
}

.left{
  flex: 0 0 70%;
  background-color: gray;
}

.right{
  flex: 0 0 30%;
  background-color: blue;
}
